.anchor{
    text-decoration: none;
    font-size : 20px;
    color:"#0366d6";
}
    .anchor:hover {
      text-decoration: underline;
    }
  
    .anchor:active {
      color: purple; 
    }

.path_provider{
    margin: 0 .25em;
}

@media (max-width: 820px) {
    .right_nav{
    display : none;
    }
    .Nav{
        height: 77px;
    }
}
@media (max-width: 600px) {
    .title_info{
    padding-top: 15px;
    }
    .Nav{
        height: 220px;
    }
    .nav_menu{
        flex-direction : column;
        padding : 0px;
    }
  }

.Nav{
    background-color: #fafbfc;
      border-bottom: 2px solid #e1e4e8;
      width: 100%;
      -webkit-transition: height 0.2s ease-in-out;
      transition: height 0.2s ease-in-out;
      height: 89px;
      margin: 0 auto;
      margin-bottom : 20px;
}
.nav_menu{
     display: flex;
      flex-direction: row;
      width: 88%;
      margin: 0 auto;
      padding-top : 10px; 
}
.nav_wrapper{
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    border-top: 3px solid transparent;
    float: left;
    padding: 7px 15px 8px;
    white-space: nowrap;
    cursor : pointer;
}
    .nav_wrapper:hover {
     color : #000;
    }
.selected{
    color:#24292e;
    background-color: #fff;
    border-color: #e36209 #e1e4e8 transparent;
}
.unselect{
    color:#586069;
}

.nav_Item{
    background-color: rgba(27,31,35,.08);
    border-radius: 20px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
    margin-left: 2px;
}
.nav_a{
    text-decoration : none;
    color : #586069;
}