.detail_container{
    display: inline-block;
    margin:5px;
    font-size: 12px;
    border-collapse : collapse;
}

.tag_container{
    border: 1px solid #cdcfd1;
   border-width: 1px 0px 1px 1px;
   padding: 5px 10px;
   font-weight : bold;
   border-radius : 2px 0px 0px 2px;
   background-color : #f4f7f9;
   line-height: 20px;
   cursor : pointer;
}
   .tag_container:hover {
     background-color : #e7eaed;
   }

.value_container{
    border: 1px solid #cdcfd1;
    padding: 5px 10px;
    font-weight : bold;
    border-radius : 0px 2px 2px 0px;
    line-height: 20px;
    cursor : pointer;
    background-color : #ffffff;
}